[submodule ".registry"]
	path = .registry
	url = https://github.com/david-barnett/david-barnett.r-universe.dev
	branch = HEAD
[submodule "hueR"]
	path = hueR
	url = https://github.com/david-barnett/hueR
[submodule "microViz"]
	path = microViz
	url = https://github.com/david-barnett/microViz
